%h1.effective-page-title= @page_title

%p Welcome to the Quickbooks Online first run instructions!

%p
  1.) Ask Code & Effect to add a Redirect URI
  to the Quickbooks Online Effective Orders application.

%ul
  %li The uri is: #{effective_qb_online.quickbooks_oauth_callback_url}

%p
  2.) Then
  = link_to('click here', effective_qb_online.quickbooks_oauth_path)
  and sign in to the Quickbooks Online company you wish to connect.

%p
  3.) Once connected, you will be be returned to this website. All done!
